:root {
  --gray: rgb(196, 196, 196);
  --green: rgb(83, 159, 91);
  --darkgreen: rgb(20, 87, 27);
}

* {
  font-family: "Noto Sans KR", sans-serif;
}

#highScore,
#timeLeft {
  width: 15vw;
  height: 15vw;
  background-color: var(--green);
  display: inline-block;
  position: absolute;
  border-radius: 2vw;
  font-size: 2.75vw;
}

#highScore p,
#timeLeft p {
  margin: 0.75vw 0 0 0.75vw;
}

#highScore {
  top: 2vh;
  left: 4vw;
}

#timeLeft {
  top: 2vh;
  right: 4vw;
}

#highScore img {
  width: 6vw;
  height: auto;
  margin-left: 4vw;
}

#backToGame {
  position: relative;
  bottom: 5vh;
  left: 1vw;
  color: white;
}

#title div {
  height: 12vw;
  width: 52vw;
  margin: 0 auto;
  position: absolute;
  top: 2vh;
}

#title h1,
#title p {
  text-align: center;
}

#title h1 {
  font-size: 5vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
}

#title p {
  font-size: 1vw;
  margin-top: 0;
}

main {
  display: block;
  background-color: var(--gray);
  position: absolute;
  top: 30vh;
  width: 52vw;
  height: 65vh;
  margin: 0 24vw;
  border-radius: 2vw;
}

main p {
  font-size: 2vw;
  margin: 2vw;
}

main div ol p {
  font-size: 2vw;
}

main button {
  font-size: 2vw;
  background-color: var(--green);
  width: 15vw;
  border-radius: 2vw;
  position: absolute;
  left: 18vw;
  bottom: 5vh;
  padding: 0.75vh;
  font-weight: bolder;
}

main button:hover {
  background-color: var(--darkgreen);
  color: white;
}

li {
  font-size: 2vw;
  margin-left: 2vw;
  margin-top: 0.5vh;
  width: 40vw;
  padding: 1px;
  border-radius: 1vh;
  background-color: var(--green);
  color: white;
}

li:hover {
  font-weight: bold;
  background-color: var(--darkgreen);
}

h5,
h4,
input {
  font-size: 2vw;
  color: var(--darkgreen);
  text-align: center;
}

input {
  display: block;
  margin-left: 10vw;
  border-radius: 1vw;
}

input[type="submit"] {
  margin-left: 18vw;
  margin-top: 2vh;
  width: 10vw;
  border-radius: 1vw;
  color: white;
  background-color: var(--green);
}

input[type="submit"]:hover {
  background-color: var(--darkgreen);
}
